*{
box-sizing: border-box; padding: 0px 0px; margin: 0px 0px; 
}

html::-webkit-scrollbar{
    width: 7px;
    background: transparent;
    
}
html::-webkit-scrollbar-thumb{
    background: #00bcd4;
    border-radius: 5px; height: 70px;
}
body{font-family:-webkit-pictograph, serif; background-color: #1C3360;}

a{text-decoration: none;}

.titulo{font-family: 'Oswald', sans-serif; position: absolute;  left: 25%; max-width: 70%; top: 1%;  color: #babaaa; font-size:40px;}
.fcem{font-family: Brush Script MT; font-size:120%; }
.logo{width: 16%; height: 20%; top: 1%; left: 1%; position: absolute;}
.div1{position: absolute; width: 90%; padding: 10px; left: 5%; background:linear-gradient(172deg,blue,white); top: 30%; border-radius: 0px 10px 10px 10px; color:white; font-size: 20px;
}
.div2{width: 90%; padding: 10px; left: 5%; background:linear-gradient(169deg,blue,white); position: absolute; top: 60%; border-radius: 0px 10px 10px 10px; color: white; font-size: 20px;}

.header{position: relative; grid-area: header;}
.navbar{position: relative; grid-area: navbar; display: flex;}
.main{position: relative; grid-area: main; display: flex;}
.sidebar{position: relative; grid-area: sidebar; display: flex;}
.convenios{position: relative; display: flex; grid-area: convenios;}
.experiencia{position: relative; grid-area: experiencia; background-color: #222c4c; color: white; }
.grados{position: relative; grid-area: grados; background-color: #292929;}
.profesores{position: relative; grid-area: profesores; display: flex; gap: 20px; overflow: auto; background-color:#525252;}
.footer{position: relative; grid-area: footer; background-color: #222c4c;}

.ptl{color: #00ccff; position: absolute; top: 0%; left: 1%; font-family:'Nanum Gothic', sans-serif;}
.clista1{position: absolute; left: 5%; padding: 5%; top: 10%;}
.lista1{color: #1ca53f; font: small-caption;}
/* .fondocurso{} */

.ptp{color: #00ccff; position: absolute; top: 0%; left: 1%; font-family:'Nanum Gothic', sans-serif;}

.clista2{position: absolute; padding: 0%; top: 15%; left: 5%;}
.bpc{color: #22c622; position: absolute; top: 50%; left: 1%; font-family:'Nanum Gothic', sans-serif;}
.lista2{color: #1ca53f; font: small-caption;}


.pp{color: #00ccff; position: absolute; top: 0%; left: 1%; font-family:'Nanum Gothic', sans-serif;}
.clista3{position: absolute; left: 5%; padding: 5%; top: 10%;}
.lista3{color: #1ca53f; font: small-caption;}
.div4{position: absolute; border-radius: 20px 20px 20px 20px; background-color: red; width: 70%; height: 20%; top: 60%; left: 20%; color:#caefca; font-family: arial; margin: auto;  padding: 15px 0px;}

.clista4{position: absolute; top: 0%; width: 98%; height: 70%; left: 1%; font-family:'Nanum Gothic', sans-serif;}

.corpesv{background-color:  #00ccff; font-weight: bold; border-radius: 20px 20px 0px 20px;  position: absolute; top: 0%; left: 0%; width: 23%; height: 100%; font-size: 14px;}
.otro{background-color:  #ffeb3b; font-weight: bold; border-radius: 20px 0px 20px 0px;  position: absolute; top: 0%; left: 24%; width: 25%; height: 100%; font-size: 14px; display: none;}
.itgem{background-color: purple; font-weight: bold; border-radius: 0px 20px 0px 20px; position: absolute; top: 0%; left: 50%; width: 23%; height: 100%;}
.uu{background-color: green; font-weight: bold; border-radius: 20px 20px 20px 0px; top: 0%; left: 74%; width: 23%; position: absolute; height: 100%;}

.palabra{
    position: absolute; width: 90%; max-height: 30%; top: 5%; left: 1%; font-family: -webkit-pictograph, serif; color: #31CF66;
}
.texto{
    position: absolute; width: 80%; top: 30%; left: 5%; font-size: 22px; font-family:'Signika', sans-serif; color: cornsilk;
  }

  /* grados */
.texto-grados{
  position: absolute; top: 20%; left: 5%; color: white; font-weight: bold; font-size: 50px; z-index: 2; font-family: Arial, Helvetica, sans-serif;
}
.año{color: #E21437;}
.cimagenes{
    position: absolute; width: 50%; height: 75%; top: 20%; left: 45%; background-color: #3d3d3d; border-radius: 15px;
}
.cfi{position: absolute; width: 10%; height: 100%; top: 0%; left: 0%; z-index: 1; background-color: transparent;
}
.flechai{
    position: absolute; width: 50%; height: 10%; top: 45%; left: 20%; z-index: 2;
}
.gradoejemplo{
    position: absolute; width: 80%; height: 90%; top: 5%; left: 10%;
}
.cfd{
    position: absolute; width: 10%; height: 100%; top: 0%; left: 90%; z-index: 1; background-color: transparent;
}
.flechad{
    position: absolute; width: 50%; height: 10%; top: 45%; left: 20%; z-index: 2;
}

/* profesores */
.profesores::-webkit-scrollbar{
    height: 7px;
    background: transparent;
}
.profesores::-webkit-scrollbar-thumb{
    background: #09b809;
    border-radius: 5px;
}
.cfondo{
    margin: 10% 0% 0% 1%; width: 140px; height: 60%; background-color: #795548; border-radius: 100%;
    }
.fondo{
    border-radius: 100%; position: relative;  width: 96%; height: 96%; background-color: #9e9e9e; top: 2%; left: 2%;
}
.imagen{position: absolute; top: 5%; left: 5%; border-radius: 100%; width: 90%; height: 90%; }
.profesor{
   margin: 5% 0% 0% 1%; height: 25%; color: white; 
}


.calle{position: absolute; color: white; top: 15%; width: 30%; left: 10%; height: 70%; }


.body{
  display: grid; 
  grid-template-rows: 400px 500px 200px 200px 500px 500px 200px 200px;
  position: relative;  
  grid-template-areas: 
  "header header"
  "navbar main"
  "sidebar sidebar"
  "convenios convenios"
  "experiencia experiencia"
  "grados grados"
  "profesores profesores"
  "footer footer";
}

@media (max-width:1024px) {
  .texto-grados{font-size: 40px;}
}
@media (max-width:750px){
    .titulo{left: 21%;}
    .fcem{
    font-size: 90%;
    }
  
  .texto-grados{font-size: 35px; top: 1%; left: 33%; max-height: 9%;}
  .año{text-align: center;}
  .cimagenes{
    width: 80%; left: 10%;
  }
  
  .body{
  grid-template-rows: 450px 600px 200px 200px 600px 400px 200px 200px;
  position: relative;  
  grid-template-areas: 
  "header header"
  "navbar main"
  "sidebar sidebar"
  "convenios convenios"
  "experiencia experiencia"
  "grados grados"
  "profesores profesores"
  "footer footer";
  }
}
  
  @media (max-width:600px){
  .titulo{left: 25%;}
  .fcem{font-size: 80%;}
  .texto-grados{font-size: 30px; left: 30%;}
}
@media (max-width:450px){
  .logo{
    width: 30%;
  }
  .titulo{
    top: 5%;
    max-width: 55%;
    left: 35%;
    font-size: 140%;
  }
  
  .div1{
    top: 30%;
  }
  .div2{
    top: 60%;
  }
  
  .bpc{top: 65%;}

  .clista2{
    left: 10%; top: 30%;
  }
  
  .clista4{
    font-size: 10px; width: 90%; left: 5%;
  }
  .corpesv{
    font-size: 10px;
    padding: 5% 0%;
  }
  .itgem{
    padding: 5% 0%;
  }
  .uu{
    padding: 5% 0%;
  }
  
  .palabra{
    font-size: 25px; left: 1%;
  }
  .texto{
    top: 30%; font-size: 17px; 
  }

  .texto-grados{font-size: 25px; left: 28%; text-align: center;}
  .cimagenes{
				width: 80%; height: 65%; left: 10%;
  }

  .body{
  grid-template-rows: 400px 500px 400px 250px 200px 700px 300px 200px 200px;
  position: relative;  
  grid-template-areas: 
  "header header"
  "navbar navbar"
  "main main"
  "sidebar sidebar"
  "convenios convenios"
  "experiencia experiencia"
  "grados grados"
  "profesores profesores"
  "footer footer";
  
  }
}


@media (max-width:350px){
  .div4{
    top: 70%;
    font-size: 80%;
  }
  .clista3{
    top: 10%;
  }
  .clista4{
    height: 100%; 
  }
  .corpesv{
    left: 0%; top: 5%; width: 100%; height: 25%; font-size: 100%; padding: 3px;
  }
  .otro{display: none;}
  .itgem{
    left: 0%; top: 35%; width: 100%; height: 25%; border-radius: 20px 20px 20px 20px; padding: 0% 0%;
  }
  .uu{
    left: 0%; top: 65%; width: 100%; height: 25%; padding: 2%;
  }
  .palabra{
    position: absolute; width: 90%; max-height: 30%; top: 5%; left: 5%; font-size: 24px;
  }
  .texto{
    font-size: 20px;
  }

  .texto-grados{font-size: 30px; left: 18%;}
  .cimagenes{height: 70%;}
  
.calle{
  font-size: 105%;
}
  .body{
  grid-template-rows: 500px 600px 500px 300px 300px 800px 400px 150px 200px;
  position: relative;  
  grid-template-areas: 
  "header header"
  "navbar navbar"
  "main main"
  "sidebar sidebar"
  "convenios convenios"
  "experiencia experiencia"
  "grados grados"
  "profesores profesores"
  "footer footer";
  }
}

@media (max-width:300px){
  h3{
    font-size: 1.00em;
  }
  .div1{
    top: 20%; max-height: 30%;
  }
  .div2{
    top: 50%; max-height: 50%;
  }

 .logo{
    width: 100%; 
  }
  .titulo{
    max-width: 80%; left: 10%; top: 3%; font-size: 130%;
  }
  .clista1{
  top: 10%;
  }
  
  .palabra{
    font-size: 20px;
  }
  .texto{
      font-size: 15px;
  }

  .cimagenes{text-align: center;}
  .texto-grados{font-size: 25px;}
  
  .calle{
    width: 80%; left: 1%; font-size: 10px;
  }

  .body{
  grid-template-rows: 600px 600px 500px 300px 400px 700px 400px 150px 150px;
  position: relative;  
  grid-template-areas: 
  "header header"
  "navbar navbar"
  "main main"
  "sidebar sidebar"
  "convenios convenios"
  "experiencia experiencia"
  "grados grados"
  "profesores profesores"
  "footer footer";
  }
}
@media(max-width:299px){
  .texto-grados{display: none;}
  .cimagenes{height: 80%; top: 10%;}
}
